<%= form_tag(cama_search_path, :method => "get", :class => "navbar-form navbar-right") do %>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="<%= t("camaleon_cms.common.search") %>">
  </div>
  <button type="submit" class="btn btn-default"><%= t("camaleon_cms.common.search") %></button>
<% end %>
